*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-color: black;
    height: 65px;
    
}
.icone{
    width: 200px;
    display: flex;
    height: 40px;
    align-items: center;
    
}