* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    background-color: darkgrey;
    min-height: 100vh;
}

.item {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background: white;
    font-size: 20px;
}