body {
    background-color: #2c3e50;
}

h4 {
    color: #f1c40f;
}

h3 {
    background-color: #f1c40f;
    border: 2px solid black;
}

.moon {
    color: #e74c3c;
}

li {
    color: rgb(255, 255, 255);
}
h1 {
    color: rgb(255, 255, 255);
}