body{
   background-image: url(https://images2.alphacoders.com/708/708635.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.text-content{
 font-size: arial, helvetica, sans-serif;
}
