body {
    background-image: url(https://images2.alphacoders.com/708/708635.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.img-content {
    width: 765px;
    height: 400px;
}

.text-content {
    font-size: 22px;
    font-size: arial, helvetica, sans-serif;
}
.title-content {
    font-size: 40px;
    font-size: arial, helvetica, sans-serif;
    
}
@media(max-width:425px){
    
}
